html{
    background: white;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
}
header{
    text-align: center;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}
.container{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 30em){
    .container{
        grid-template-columns: ifr 1fr;
    }
} 
@media (min-width: 60em){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}
.card{
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.card:hover{
    top:-2;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card .thumb{
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
}
.card article{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}